# Ignore all CSV files
*.csv

# Ignore all PNG files
*.png

# Ignore env files
.env
.env.*

# Ignore virtual environment
venv/
.venv/

# Ignore Python Cache
__pycache__/
*.pyc
*.pyo

# webScraper
Scraper.py

# basic models(Lr,SVM)
Basic_classification.ipynb

# Roberta
roberta.ipynb
Roberta_optimised.ipynb